{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Pastebin</title>
    <link rel="stylesheet" href="{% static "main.css" %}" />
    <style>
      body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    </style>
  </head>
  <body>
    <h1>Pastebin</h1>
    <br>
    <p>
      <input id="pasteID" type="search" placeholder="Paste ID">
      <button onclick="view()">View</button><br>
      <br>
      <strong>OR</strong><br>
      <br>
      <button onclick="create()">Create a new paste</button>
    </p>

    <script>
      function view() {
        window.location.href = '/view/' + document.getElementById('pasteID').value
      }

      function create() {
        window.location.href = '/create'
      }
    </script>
  </body>
</html>
