{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }} | Pastebin</title>

    <link rel="stylesheet" href="{% static "main.css" %}" />
    <link rel="stylesheet" href="{% static "codemirror.css" %}" />
  </head>
  <body>
    <h1>{{ title }}</h1>

    <p>
      Paste ID: <a href="{{ request.build_absolute_uri }}">{{ paste_id }}</a><br>
      URL: <a href="{{ request.build_absolute_uri }}">{{ request.build_absolute_uri }}</a><br>
      <br>
      Created on {{ created_on }}<br>
      <br>
      <input id="line-numbers" type="checkbox" onclick="toggleLineNumbers()" /> Line Numbers
      <input id="line-wrap" type="checkbox" onclick="toggleLineWrap()" /> Line Wrap
    </p>

    <textarea id="editor">{{ content }}</textarea>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/mode/{{ language }}/{{ language }}.js"></script>

    <script>
      var lineNumbers = document.getElementById('line-numbers')
      var lineWrap = document.getElementById('line-wrap')
      var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
        lineNumbers: lineNumbers.checked,
        lineWrap: lineWrap.checked,
        readOnly: "nocursor",
        viewportMargin: Infinity,
        theme: "base16-dark",
      })

      function toggleLineNumbers() {
        editor.setOption("lineNumbers", lineNumbers.checked)
      }

      function toggleLineWrap() {
        editor.setOption("lineWrapping", lineWrap.checked)
      }
    </script>
  </body>
</html>
